<div class="bjui-pageHeader">
<div class="bjui-pageHeader">
	<form id="pagerForm" data-toggle="ajaxsearch" action="{:url('admin/adminList')}" method="post">
        <input type="hidden" name="pageSize" value="{$page_form.pageSize}">             <!-- 页大小 -->
        <input type="hidden" name="pageCurrent" value="{$page_form.pageCurrent}">       <!-- 当前页 -->
        <input type="hidden" name="orderField" value="{$page_form.orderField}">         <!-- 排序字段 -->
        <input type="hidden" name="orderDirection" value="{$page_form.orderDirection}"> <!-- 排序方向 -->

        <div class="bjui-searchBar">
            <label>{$Think.lang.query_criteria}</label>
            <button type="button" class="showMoreSearch" data-toggle="moresearch" data-name="custom"><i class="fa fa-angle-double-down"></i></button>
            <button type="submit" class="btn-default" data-icon="search">{$Think.lang.query}</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">{$Think.lang.clean_up_query}</a>
            <a href="{:url('admin/adminEdit')}" class="btn btn-blue" data-toggle="navtab" data-id="admin-adminEdit" data-reload-warn="{$Think.lang.10005}" data-title="{$Think.lang.add}" data-icon="plus"><i class="fa fa-plus"></i> {$Think.lang.add}</a>
        </div>
        <div class="bjui-moreSearch">
            <label>{$Think.lang.admin_username}：</label><input type="text" value="{$page_form.admin_username}" name="admin_username" class="form-control" size="8">&nbsp;
        </div>
	</form>
</div>
<div class="bjui-pageContent tableContent">
	<table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true">
		<thead>
			<tr>
                <th data-order-field="admin_id" align="center">{$Think.lang.admin_id}</th>
                <th data-order-field="admin_username">{$Think.lang.admin_username}</th>
                <th data-order-field="admin_time">{$Think.lang.add_time}</th>
                <th data-order-field="admin_state">{$Think.lang.state}</th>
                <th>{$Think.lang.operation}</th>
            </tr>
		</thead>
		<tbody>
			{volist name="data_list" id="vo"}
			<tr data-id="1">
                <td>{$vo.admin_id}</td>
                <td>{$vo.admin_username}</td>
                <td>{$vo.admin_time}</td>
                <td>{$vo.admin_state}</td>
                <td>
                    <a href="{:url('admin/adminEdit',['id'=>$vo.admin_id])}" class="btn btn-green" data-toggle="navtab" data-id="admin-adminEdit" data-reload-warn="{$Think.lang.10005}" data-title="{$Think.lang.edit}" data-icon="edit"><i class="fa fa-edit"></i> {$Think.lang.edit}</a>
                    <a href="{:url('adminDel',['id'=>$vo.admin_id])}" class="btn btn-red" data-toggle="doajax" data-confirm-msg="{$Think.lang.10006}"  data-icon="undo"><i class="fa fa-undo"></i> {$Think.lang.delete}</a>
                </td>
            </tr>
			{/volist}
        </tbody>
	</table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>{$Think.lang.each_page}&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="120">120</option>
                <option value="150">150</option>
            </select>
        </div>
        <span>&nbsp;{$Think.lang.strip}，{$Think.lang.total} {$data_count} {$Think.lang.strip}</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="{$data_count}" data-page-size="30" data-page-current="1">
    </div>
</div>