<ul id="bjui-hnav-navbar">
    <li class="active"><a href="javascript:;" data-toggle="slidebar"><i class="fa fa-check-square-o"></i> 商城管理</a>
        <div class="items hide" data-noinit="true">
            <ul id="bjui-hnav-tree1" class="ztree ztree_main" data-toggle="ztree" data-on-click="MainMenuClick" data-expand-all="true" data-faicon="check-square-o" data-tit="管理员管理">
                <li data-id="1" data-pid="0" data-url="{:url('admin/adminList')}" data-tabid="admin-adminList" data-faicon="caret-right">管理员列表</li>
            </ul>
            <ul id="bjui-hnav-tree2" class="ztree ztree_main" data-toggle="ztree" data-on-click="MainMenuClick" data-expand-all="true" data-faicon="check-square-o" data-tit="商品管理">
                <li data-id="1" data-pid="0" data-faicon="folder-open-o" data-faicon-close="folder-o">表单元素</li>
                <li data-id="10" data-pid="1" data-url="form-button.html" data-tabid="form-button" data-faicon="caret-right">按钮</li>
                <li data-id="20" data-pid="10" data-url="form-button.html" data-tabid="form-button" data-faicon="caret-right">按钮</li>
            </ul>
            <ul id="bjui-hnav-tree3" class="ztree ztree_main" data-toggle="ztree" data-on-click="MainMenuClick" data-expand-all="true" data-faicon="check-square-o" data-tit="会员管理">
                <li data-id="1" data-pid="0" data-faicon="folder-open-o" data-faicon-close="folder-o">表单元素</li>
                <li data-id="10" data-pid="1" data-url="form-button.html" data-tabid="form-button" data-faicon="caret-right">按钮</li>
                <li data-id="20" data-pid="10" data-url="form-button.html" data-tabid="form-button" data-faicon="caret-right">按钮</li>
            </ul>
            <ul id="bjui-hnav-tree4" class="ztree ztree_main" data-toggle="ztree" data-on-click="MainMenuClick" data-expand-all="true" data-faicon="check-square-o" data-tit="订单管理">
                <li data-id="1" data-pid="0" data-faicon="folder-open-o" data-faicon-close="folder-o">表单元素</li>
                <li data-id="10" data-pid="1" data-url="form-button.html" data-tabid="form-button" data-faicon="caret-right">按钮</li>
                <li data-id="20" data-pid="10" data-url="form-button.html" data-tabid="form-button" data-faicon="caret-right">按钮</li>
            </ul>
        </div>
    </li>
</ul>